* {
	margin: 0;
	padding: 0;
}
body {
	font: 18px Verdana;
	color: #FFF;
  background: #CCC;
}
#picbox {
	margin: 0px auto;
	width: 640px;
}
#boxcard {
	
	margin: 10px 0 0;
}
#boxcard div{
	float: left;
	width: 100px;
	height: 100px;
	margin: 5px;
	padding: 5px;
	border: 4px solid #C3D7DF;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
    background: #6991AC;
}
#boxcard div img {
	border-radius: 10px;	
}
#boxbuttons {
	text-align: center;
	margin: 20px;
	display: block;
}
#boxbuttons .button {
	text-transform: uppercase;
	background: #6991AC;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 10px;
	cursor: pointer;
}
#boxbuttons .button:hover {
	background: #999;
}

#boxcard div:hover{
      background: #67727A;  
}