* {
	margin: 0;
	padding: 0;
}
body {
	font: 18px Verdana;
	color: #FFF;
    background-image: url('../img/bg.jpg');
	background-size: cover;
}
#head{
	display: block;
	text-align: center;
	color: #6991AC;
}
#picbox {
	margin: 0px auto;
	width: 640px;
}
#boxcard {
	margin: 10px 0 0;
}
#boxcard div{
	float: left;
	width: 100px;
	height: 100px;
	margin: 5px;
	padding: 5px;
	border: 4px solid #6991AC;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
    background: url(../img/pokemon-logo-vector.png) center no-repeat;
}
#boxcard div img {
	border-radius: 10px;	
}
#boxbuttons {
	text-align: center;
	margin: 20px;
	display: block;
}
#boxbuttons .button {
	text-transform: uppercase;
	background: #6991AC;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 10px;
	cursor: pointer;
}
#boxbuttons .button:hover {
	background: #C3D7DF;
}

#boxcard div:hover{
    opacity: 0.6;  
}